.row span {
    color: red;
}
label {
    font-weight: bold;
}
.float-end{
background-image: linear-gradient(to right, rgb(231, 23, 23) , rgb(228, 37, 186));
}
input:hover{

    background-color: rgb(245, 252, 249);
}